variables:
  GIT_STRATEGY: clone
  GIT_SUBMODULE_FORCE_HTTPS: "true"
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_UPDATE_FLAGS: --jobs 8

build:
  image: gcc:13.2.0-bookworm
  interruptible: true
  before_script:
    - apt-get update && apt-get -y install cmake librdmacm-dev
  script:
    - bash ci-build.sh

pages:
  image: python:3.12-slim
  stage: deploy
  script:
    - apt-get update && apt-get install -y doxygen make graphviz
    - pip install sphinx breathe sphinx_rtd_theme
    - cd docs
    - doxygen Doxyfile
    - make html
    - cd ..
    - mkdir public
    - mv docs/build/html/* public/

  artifacts:
    paths:
      - public

  # rules:
  #   - if: '$CI_COMMIT_BRANCH == "main"'

