stages:
    - build
    - run_server
    - run_client

variables:
    GIT_STRATEGY: clone
    GIT_SUBMODULE_FORCE_HTTPS: "true"
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_SUBMODULE_UPDATE_FLAGS: --jobs 8

build:
    stage: build
    tags:
        - naaice2-runner
    interruptible: true
    before_script:
        - apt-get update && apt-get -y install cmake librdmacm-dev
    script:
        - bash ci-build.sh
    artifacts:
        paths:
            - build/
        expire_in: 1 hour
    
run_server:
    stage: run_server
    dependencies:
        - build
    script:
        - echo "Start SWNAA"
        - apt-get update
        - apt-get install -y librdmacm-dev libibverbs1 ibverbs-utils
        - ibv_devinfo
        - ./build/src/naaice_server &
        # - sleep 2
    tags:
        - naaice2-runner

run_client:
    stage: run_client
    dependencies:
        - build
        - run_server
    script:
        - echo "Start client "
        - apt-get update
        - apt-get install -y librdmacm-dev libibverbs1 ibverbs-utils
        - ls -la /dev/infiniband
        - ibv_devinfo
        - ls -la build/src
        - ./build/src/naaice_client 10.3.10.42 3 "10 10 10"
    tags:
        - naaice1-runner
