stages:
    - build
    - run

variables:
    GIT_STRATEGY: clone
    GIT_SUBMODULE_FORCE_HTTPS: "true"
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_SUBMODULE_UPDATE_FLAGS: --jobs 8

build:
    stage: build
    interruptible: true
    before_script:
        - apt-get update && apt-get -y install cmake librdmacm-dev
    script:
        - bash ci-build.sh
    artifacts:
        paths:
            - build/
        expire_in: 1 hour
    tags:
        - naaice2-runner

run:
    stage: run
    dependencies:
        - build
    script:
        - echo "Start SWNAA"
        - apt-get update
        - apt-get install -y librdmacm-dev libibverbs1 ibverbs-utils
        - ibv_devinfo
        - ls -la build/src
        - chmod +x build/src/naaice_server
        - ./build/src/naaice_server
