workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

before_script:
  - echo "Starting CI/CD pipeline for NAA communication prototype"
  - apt-get update && apt-get -y install git cmake librdmacm-dev libibverbs1 ibverbs-utils gcc-13 g++-13 openssh-client git


stages:
  - build
  - run
  - deploy
  - release
  - measurement
  - evaluation


variables:
  GIT_STRATEGY: clone
  GIT_SUBMODULE_FORCE_HTTPS: "true"
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_UPDATE_FLAGS: --jobs 8
  CC: gcc-13
  CXX: g++-13


.rules_main_or_mr_main:
  rules:
    - if: |
        ($CI_PIPELINE_SOURCE == "push" &&
         $CI_COMMIT_BRANCH == "main") ||
        ($CI_PIPELINE_SOURCE == "merge_request_event" &&
         $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main")
      when: on_success
    - when: never


build:
  stage: build
  tags:
    - naaice2-runner
  interruptible: true
  script:
    - bash ./tests/ci-build.sh
  artifacts:
    paths:
      - build/
    expire_in: 1 hour

run_server:
  stage: run
  dependencies:
    - build
  timeout: 10 minutes
  script:
    - echo "Start SWNAA"
    - ./build/tests/naaice_server_measurement
  tags:
    - naaice2-runner

run_client:
  stage: run
  dependencies:
    - build
  script:
    - bash ./tests/run_client.sh
  tags:
    - naaice1-runner


pages:
  image: python:3.12-slim
  stage: deploy
  extends: .rules_main_or_mr_main
  script:
    - apt-get update && apt-get install -y doxygen make graphviz
    - pip install sphinx breathe sphinx_rtd_theme
    - cd docs
    - doxygen Doxyfile
    - make html
    - cd ..
    - mkdir public
    - mv docs/build/html/* public/
  artifacts:
    paths:
      - public

push:
  stage: release
  variables:
    GITHUB_REPOSITORY: 'git@github.com:naaice-greenhpc/naa-communication-library.git'
  before_script:
    # I know that there is this file env variable in gitlab, but somehow it does not work for me (still complaining about white spaces ...)
    # Therefore, the ssh key is stored as a base64 encoded string
    - apt-get update && apt-get -y install git openssh-client
    - mkdir -p ~/.ssh && echo "$GITHUB_SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_ed25519 && chmod 0600 ~/.ssh/id_ed25519
    - ssh-keyscan github.com >> ~/.ssh/known_hosts
    - ssh-keyscan git.gfz-potsdam.de >> ~/.ssh/known_hosts
  script:
    - if [[ -d naa-communication-library.git ]]; then rm -rf naa-communication-library.git; fi
    - git clone --mirror "git@git.gfz-potsdam.de:naaice/naa-communication-prototype.git" "naa-communication-library.git" && cd naa-communication-library.git
    - git push --mirror $GITHUB_REPOSITORY
  allow_failure: true

measurement_server:
  stage: measurement
  dependencies:
    - build
  extends: .rules_main_or_mr_main
  script:
    - apt-get update
    - apt-get install -y python3 python3-pip python3-venv
    - python3 -m venv venv
    - . venv/bin/activate
    - pip install numpy tenacity
    - venv/bin/python tests/do_server.py
  tags:
    - naaice2-runner

measurement_client:
  stage: measurement
  dependencies:
    - build
  extends: .rules_main_or_mr_main
  script:
    - apt-get update
    - apt-get install -y python3 python3-pip python3-venv
    - python3 -m venv venv
    - . venv/bin/activate
    - pip install numpy tenacity
    - venv/bin/python tests/do_client.py
  artifacts:
    paths:
      - output_low_level.csv
      - output_middleware.csv
    expire_in: 1 hour
    when: always
  tags:
    - naaice1-runner


evaluation:
  stage: evaluation
  dependencies:
    - measurement_client
  extends: .rules_main_or_mr_main
  script:
    - apt-get update
    - apt-get install -y python3 python3-pip python3-venv
    - python3 -m venv venv
    - . venv/bin/activate
    - pip install numpy tenacity pandas matplotlib
    - venv/bin/python tests/evaluation.py
  artifacts:
    paths:
      - reference_vs_measurements.pdf
    when: always
    access: all
    expire_in: 4 weeks
  tags:
    - naaice1-runner
