stages:
    - build
    - run

variables:
    GIT_STRATEGY: clone
    GIT_SUBMODULE_FORCE_HTTPS: "true"
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_SUBMODULE_UPDATE_FLAGS: --jobs 8

build:
    stage: build
    interruptible: true
    before_script:
        - apt-get update && apt-get -y install cmake librdmacm-dev
    script:
        - bash ci-build.sh
    tags:
        - naaice2-runner

run:
    stage: run
    script:
        - echo "Running tests..."
